@media (max-width: 479px) {
  .wrapper {
    padding-top: 15rem;
  }

  .gallery-header__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .form__input {
    margin-bottom: 1.25rem;
  }

  .gallery {
    width: 13.125rem;
  }

  .gallery-list {
    flex-direction: column;
    align-items: center;
  }

  .gallery-list__item {
    margin-bottom: 0.9375rem;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .modal-body {
    width: 17.5rem;
    height: 10.9375rem;
  }
}

@media (min-width: 480px) {
  .form__input {
    margin-right: 0.9375rem;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .wrapper {
    padding-top: 12.1875rem;
  }

  .gallery-header__form {
    text-align: center;
  }

  .gallery {
    width: 27.1875rem;
  }

  .gallery-list__item {
    &:nth-child(odd) {
      margin-right: 0.9375rem;
    }
    &:nth-last-child(n + 3) {
      margin-bottom: 0.9375rem;
    }
  }

  .modal-body {
    width: 25rem;
    height: 15.625rem;
  }
}

@media (max-width: 767px) {
  .gallery-header {
    padding: 3rem 0rem 1.25rem 0rem;
  }

  .home-page-padding {
    padding-top: 5rem;
  }

  .gallery-header__nav {
    right: 0.9375rem;
    top: 0.9375rem;
  }

  .gallery-header__logo {
    margin-bottom: 1.25rem;
  }

  .form__input {
    width: 18.75rem;
  }

  .modal-content {
    width: 75%;
  }
}

@media (min-width: 768px) and (max-width: 959px) {
  .gallery {
    width: 41.25rem;
  }

  .gallery-list__item {
    margin-right: 0.9375rem;
    &:nth-child(3n) {
      margin-right: 0;
    }
    &:nth-last-child(n + 4) {
      margin-bottom: 0.9375rem;
    }
  }

  .modal-body {
    width: 42.5rem;
    height: 26.5625rem;
  }
}

@media (min-width: 960px) {
  .gallery {
    width: 55.3125rem;
  }

  .gallery-list__item {
    margin-right: 0.9375rem;
    &:nth-child(4n) {
      margin-right: 0;
    }
    &:nth-last-child(n + 5) {
      margin-bottom: 0.9375rem;
    }
  }
}
